:root {
  --border-radius-500: 8px;
  --color-on-background: #ffffff;
  --fonts-primary: Karla, sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0
}

body {
  font-size: 14px;
}


.card {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
}

.header {
  padding-bottom: 10px;
  margin-bottom: 5px;
}

.store-container {
  text-align: center;
  padding: 5px;
  background-color: rgb(0, 247, 255);
}

.items-container {
  text-align: center;
}

.item-container {
  padding: 5px;
  border-bottom: 1px solid grey
}

.heading {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 16px;
}

.My-saved-trip {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 40px; 
  padding: 40px 40px 40px 0; 
  margin-left: 40px;
}

.text-and-button {
  align-items: center; /* Vertically center the items */
}
