.container-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-end; 
}


.container-left {
  position: absolute;
  width: auto;
  min-width: 20%;
  right: 40px; 
  top: 64px;
}

.my-trip-container {
  left:40px; 
}

.trip-heading {
   font-size: 24px;
  font-weight: bold;
}

.button-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 50px;
  }

.main,
.main input {
  font-size: 16px;
  line-height: 24px;
  color: #353740;
  font-family: "ColfaxAI", Helvetica, sans-serif;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
}
.main .icon {
  width: 34px;
}
.main h3 {
  font-size: 32px;
  line-height: 40px;
  font-weight: bold;
  color: #202123;
  margin: 16px 0 40px;
}
.main form {
  display: flex;
  flex-direction: column;
  width: 320px;
}
.main input[type="text"] {
  padding: 12px 16px;
  border: 1px solid #10a37f;
  border-radius: 4px;
  margin-bottom: 24px;
  outline-color: #10a37f;
}
.main ::placeholder {
  color: #8e8ea0;
  opacity: 1;
}
.main input[type="submit"] {
  padding: 12px 0;
  color: #fff;
  background-color: #10a37f;
  border: none;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
}
.main .result {
  font-weight: bold;
  margin-top: 40px;
}

.card-container {
  /* flex-wrap: wrap; */
  gap: 16px;
  margin-top: 16px;
}
ß
.custom-card-title {
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
}

.custom-card-description {
  font-size: 14px;
  color: #555;
  line-height: 16px;
}

.custom-card-description p {
  margin: 8px 0; /* Reduce the vertical gap between paragraphs */
}

.timeline { 
  margin-top: 16px;
}

.card-container .ant-card {
  flex: 0 0 calc(50% - 8px); /* Adjust the width to fit 2 cards in a row */
  margin-bottom: 16px; /* Add some bottom margin to separate rows */
}

@media (max-width: 576px) {
  /* For small screens, display only one card per row */
  .card-container .ant-card {
    flex: 0 0 calc(100% - 8px);
  }
} 
//for testing 