/* menu.css */

.ant-menu-horizontal {
  justify-content: flex-end;
  background-color: #FFFFFF;
}

.ant-menu-horizontal .ant-menu-item {
  margin-right: 40px;
  margin-left: 40px;
}

.ant-menu-horizontal .ant-menu-item:last-child {
  margin-right: 0;
}
.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 10px 10px 0px 30px ; /* Add padding as needed */
  background-color:#FFFFFF;; /* Example background color for the header */
}

.header-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.bold-text {
  font-weight: bold;
  font-size: large;
  margin-right: 5px; /* Adjust the margin as needed */
}

.small-text {
  font-size: 14px; /* Adjust the font size as needed */
}


.ant-menu-horizontal .ant-menu-item-selected::after {
  content: ''; /* Ensure the underline has content */
  display: block;
  border-bottom: 2px solid #1890ff; /* Customize the underline color and thickness */
  margin: 0 auto; /* Center the underline within the menu item */
  width: 50%; /* Adjust the width of the underline */
}