/* menu.css */

.ant-menu-horizontal {
  justify-content: flex-end;
  background-color: #FFFFFF;
}

.ant-menu-horizontal .ant-menu-item {
  margin-right: 40px;
  margin-left: 40px;
}

.ant-menu-horizontal .ant-menu-item:last-child {
  margin-right: 0;
}
.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 15px 10px 15px 30px ; /* Add padding as needed */
  background-color:#FFFFFF;; /* Example background color for the header */
}

.header-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.bold-text {
  font-weight: bold;
  font-size: large;
  margin-right: 5px; /* Adjust the margin as needed */
}

.small-text {
  font-size: 14px; /* Adjust the font size as needed */
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 200px; /* Set the width of the logo as needed */
  height: auto; /* Adjust height proportionally to the width */
  margin-right: 10px; /* Adjust margin as needed */
}