.LeftSideBar {
  position: absolute;
  width: 367px;
  height: 100vh;
  left: 0px;
  top: 0px;
  background-color: #fafbf8;
  padding: 20px;
   border-right: 1px solid #cacaca
  }

.text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  margin-bottom: 10px;
} 