.step-component {
  position: absolute;
  width: 800px;
  top: 40px;
  margin-left: 40px;
  }

.step-navigation {
  display: flex;
  gap: 20px;
  }


.step-navigation .back,
.step-navigation .next,
.step-navigation .submit {
  margin-bottom: 10px; /* Add some spacing between buttons (optional) */
    align-items: center; /* Align buttons vertically in the middle */

}