.step-component {
  position: absolute;
  width: 800px;
  top: 100px;
  }

  .next {
  top: 20px;
  }

  .back {
  top: 20px;
  }

  .submit {
  top: 20px;
  }

.step-navigation {
  display: flex;
  justify-content: space-between;
}

.step-navigation .back {
  margin-right: 10px;
}